<<<<<<< HEAD
.upload-container{
    background: #fff;
    margin: 1em auto;
    max-width: 600px;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    .title{
        font-size: 22px;
        font-weight: 600;
    }
    .dropzone{
      width: 90%;
      height: 300px;
      border-style:dashed;
      cursor: pointer;;
    }
=======
.upload-container{
    background: #fff;
    margin: 1em auto;
    max-width: 600px;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    .title{
        font-size: 22px;
        font-weight: 600;
    }
    .dropzone{
      width: 90%;
      height: 300px;
      border-style:dashed;
      cursor: pointer;;
    }
>>>>>>> 91cb8e9adb8152cc9988edcb94d3b79b09803cc1
}